{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home'%}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      {% if user.is_staff %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'notifications' %}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Notifications</span>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mpesa' %}">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Mpesa</span>
        </a>
      </li>

    </ul>
  </nav>